nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-links a {
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.search {
    padding: 0.5rem;
    font-size: 1rem;
}