nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-links a {
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.navbar-item .active {
    color: wheat;
}

.right {
    display: flex;
    align-items: center;
}

.cart {
    margin-right: 1rem;
    color: white;
}

.cart-count {
    background-color: red;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    font-size: 0.8rem;
}

.search {
    padding: 0.5rem;
    font-size: 1rem;
}