.product {
    text-align: center;
}

title {
    font-size: 2rem;
    font-weight: bold;
}

.description {
    font-size: 1.1rem;
    color: #888;
    margin-bottom: 2rem;
}

.search-filter {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 4rem;
}

.filter {
    display: flex;
    gap: 1rem;
}

.filter-category select,
.filter-price select,
.filter-rating select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
}

.search input {
    padding: 0.5rem;
    font-size: 1rem;
}

.btn-search {
    border-radius: 0 8px 8px 0;
}

.product-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
}

.product-card {
    max-width: 300px;
    max-height: fit-content;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*.product-card:hover {*/
/*    transform: scale(1.05);*/
/*}*/

.product-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.product-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.product-category {
    width: fit-content;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    color: black;
    background-color: white;
    margin-bottom: 0.5rem;
}

.product-stock {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.product-rating {
    width: fit-content;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    color: black;
    background-color: white;
    margin-bottom: 0.5rem;
}

.product-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 0.5rem;
}

.product-description {
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 0.5rem;
    text-align: justify;
}

.product-button {
    width: 100%;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.product-button:hover {
    background-color: #f39c12;
}
